
.articles {
  background-color: $veryLightGray;
}

.article {

  &__content {}

  &__grid {
    display: grid;
    gap: 1.875rem;
    grid-template-columns: 1fr;

    @include breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-up(large) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
    overflow: hidden;
    border-radius: .3125rem;
    background-color: $white;
    transition: all .1s ease-in-out;
    box-shadow: 0 3px 12px rgba($color: #000000, $alpha: .05);

    &:hover {
      transform: scale(1.05);
    }
  }

  &__image {
    height: 12.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__text {
    color: $grayishBlue;
    padding: 1.875rem 1.875rem 2.5rem;

    @include breakpoint-up(medium) {
      padding: 1.875rem 1.5625rem;
    }
  }

  &__author {
    font-size: .625rem;
    margin-bottom: .75rem;
  }
  
  &__title {
    color: $darkBlue;
    line-height: 1.2;
    margin-bottom: .5rem;
    font-size: 1.0625rem;
  }

  &__description {
    font-size: .8125rem;
  }

}
