
.feature {

  &__intro {
    @include breakpoint-up(large) {
      width: 55%;
    }
  }

  &__grid {
    @include breakpoint-up(medium) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    padding: .9375rem;
    border: solid 1px red;

    @include breakpoint-up(medium) {
      flex: 0 0 50%;
    }

    @include breakpoint-up(large) {
      flex: 1;
    }
  }

  &__icon {}

  &__description {}

}
