
.footer {
  color: $white;
  padding: 2.5rem;
  text-align: center;
  background-color: $darkBlue;

  .container {
    @include breakpoint-up(large) {
      display: grid;
      justify-items: start;
      justify-content: center;
      grid-template-columns: 2fr 1fr 1fr 3fr;
      grid-template-rows: 1fr auto;
      grid-template-areas: 
        "logo links1 links2 cta"
        "social links1 links2 copyright";
      justify-items: start;
      gap: 1rem;
    }
  }

  a {
    color: $white;
  }

  &__logo {
    display: block;
    height: 1.25rem;
    margin-bottom: 1.875rem;

    @include breakpoint-up(large) {
      margin: 0;
      grid-area: logo;
    }
  }
  
  &__social {
    height: 1.25rem;
    margin-bottom: 1.875rem;
    
    a {
      display: inline-block;
      
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }

    @include breakpoint-up(large) {
      margin: 0;
      grid-area: social;
      align-self: center;
    }
  }
  
  &__links {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: .9375rem;
    
    a {
      line-height: 2.25;
    }
    
    &.col1 {
      @include breakpoint-up(large) {
        grid-area: links1;
      }
    }
    
    &.col2 {
      margin-bottom: 1.875rem;

      @include breakpoint-up(large) {
        margin: 0;
        grid-area: links2;
      }
    }

    @include breakpoint-up(large) {
      align-items: start;
      justify-content: space-between;
    }
  }

  &__cta {
    @include breakpoint-up(large) {
      grid-area: cta;
      text-align: right;
      justify-self: end;
      align-self: stretch;
    }

    a.button {
      display: inline-block;
    }
  }

  &__copyright {
    font-size: .8125rem;
    margin: 1.875rem 0 0;

    @include breakpoint-up(large) {
      margin: 0;
      grid-area: copyright;
      justify-self: end;
      align-self: end;
    }
  }  

}
