
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  outline: 0 none;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
          tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-weight: 300;
  color: $grayishBlue;
  font-size: $font-med;
  font-family: 'Public Sans', sans-serif;

  &.noscroll {
    overflow: hidden;
  }
}

h1,
h2,
h3 {
  margin-top: 0;
}


a,
a:hover,
a:visited {
  text-decoration: none;
}

// spacing
.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  &.vertical_container {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
}

// flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}


// button
button,
.button {
  border: 0;
  color: $white;
  cursor: pointer;
  outline: 0 none;
  font-weight: 700;
  border-radius: 50px;
  font-size: $font-sm;
  display: inline-block;
  padding: .875rem 2.1875rem;
  transition: opacity .1s ease-in-out;
  background-image: linear-gradient(to left, $limeGreen, $brightCyan);

  &:hover {
    opacity: .75;
  }
}





// visibility 
.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}