

.header {

  &.open {

    .overlay {
    }

    .header__menu {

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:first-child {
        transform: rotate(45deg);
      }

      > span:last-child {
        transform: rotate(-45deg);
      }

    }

  }

  .overlay {
    top: 3.75rem;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    background-image: linear-gradient(to bottom, $darkBlue, transparent);
  }

  nav {
    padding: 1.0625rem 1.5rem;
  }

  &__logo {

    img {
      width: 8.8125rem;
      height: 1.375rem;
    }

  }

  &__menu { // mobile menu

    > span {
      width: 26px;
      height: 2px;
      display: block;
      background-color: $darkBlue;
      transition: all .2s ease-in-out;
      transform-origin: 0.1875rem center;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

  }

  &__links {

    a {
      position: relative;
      font-size: $font-sm;
      color: $grayishBlue;
      transition: color 200ms ease-in-out;

      &:not(:last-child) {
        margin-right: 2rem;
      }

      &::before {
        content: '';
        left: 0px;
        right: 0px;
        opacity: 0;
        width: 100%;
        height: 5px;
        bottom: -25px;
        position: absolute;
        transition: all .2s ease-in-out;
        background: linear-gradient(to left, $limeGreen, $brightCyan);
      }

      &:hover {
        color: $darkBlue;

        &::before {
          opacity: 1;
          bottom: -30px;
        }
      }
    }

  }


  &__cta {
    color: $white;
    font-size: $font-sm;
    transition: opacity .1s ease-in-out;

    &:hover {
      opacity: .75;
    }
  }

}
